<!DOCTYPE html>
{% load static %}
<html> 
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title> Flag Guessing Game </title>
    </head>

    <body>
        <h1> FLAG GUESSER </h1>
        <div class = "home_div">
            <form method="POST" action="/marathon-mode-start/">
                {% csrf_token %}
                <input type="checkbox" id="hints_on" name="hints_on"> </input>
                <label for="hints_on"> Show Hints </label>
                <button type="submit" style="width: 95%;"> START MARATHON MODE </button>
            </form>
        </div>
    </body>

</html>