{% load static %}
<html> 
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'additional_styles.css' %}">
        <link rel="stylesheet" href="{% static 'additional_styles2.css' %}">
        <title> YOU HAVE LOST! </title>

    </head>

    <body>
        <h1 class="title"> YOU HAVE LOST. </h1>
        <div class = "loser_div">
            <h2> Your run has ended! </h2>
            <h4> You ended with a streak of {{ current_streak }}. Good job! </h4> <!-- streak -->
            <h4> Hints {{ hints_on_flavor_text }} on. </h4> <!-- hints on -->
            <div class="flag_review_div">
                <img src="{% static flag %}" alt="Flag" class="flag_image">
                <h4> {{ guess_or_quit }} <p style="font-style: italic; display: inline;"> "{{ guess }}".</p> </h4> <!-- guess -->
                <h4> The correct answer was actually <p style="font-style: italic; display: inline;">{{ correct_answer }}.</p> </h4> <!-- correct  -->
            </div>
            <a class="start_game_button" style="width: 100%" href="/marathon-mode-start"> RETRY? </a>
            <a class="start_game_button" style="width: 100%" href="/"> GO BACK HOME </a>
        </div>
    </body>

</html>