<!DOCTYPE html>
{% load static %}
<html> 
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'additional_styles.css' %}">
        <link rel="stylesheet" href="{% static 'additional_styles2.css' %}">
        <title> MARATHON: STREAK {{ current_streak }} </title>

    </head>

    <body>
        <h1 class="title"> MARATHON MODE </h1>
        <div class = "marathon_div" style="width: 90%">
            <div class="streak_div">
                <p> CURRENT STREAK: {{ current_streak }} </p>
            </div>
            <img src="{% static flag %}" alt="Flag" class="flag-image">
            <!-- <p> {{ correct_answer }} </p> --> 
                <form method="POST" action="/marathon-mode/">
                {% csrf_token %}
                <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
                <input type="hidden" name="current_streak" value="{{ current_streak }}">  
                <input type="hidden" name="hints_on" value="{{ hints_on }}">
                <div class="guess_div">  
                    <label for="guess"> Flag Name: </label> 
                    <input style="margin: 10px" class="enter_box"type="text" id="guess" name="guess" required placeholder="What country is this?" > <br>
                    <button class="start_game_button" type="submit"> SUBMIT </button>
                </div>
                
                {% if hints_on == "on" %}
                    <p style= "font-family: Verdana"> Hint: {{ hint }} </p>
                {% endif %}
                </form>

                <hr style="border: 5px solid black; border-color: rgba(253, 255, 255, 1); border-radius: 5px; width: 80%; margin: 20px auto;">

            <a class="start_game_button" style="width: 100%;" href="/"> HOME </a>
        </div>
    </body>

</html>