<!DOCTYPE html>
{% load static %}
<html> 
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title> REGULAR GAME </title>
    </head>

    <body>
        <h1> REGULAR GAME </h1>
        <div class = "home_div">
            <div>
                <form method="POST" action="/regular-game-answers">
                {% csrf_token %}
                {% for question in questions_list %}
                <div>
                    <img src="{% static question.flag_url %}" alt="Flag" class="flag-image">    
                    <!-- <p> {{ question.correct_answer }} </p> --> 
                    {% if hints_on == "on" %}
                        <p> hint: {{ question.hint }} </p>
                    {% endif %}
                    <label for="guess_{{ forloop.counter }}"> Flag Name: </label>
                    <input type="text" id="guess_{{ forloop.counter }}" name="guess">
                </div>
                {% endfor %}
                <button type="submit" style="width: 95%;"> SUBMIT YOUR WORK! </button>
                </form>

            </div>

            
            <a href="/"> HOME </a>
        </div>
    </body>
