<!DOCTYPE html>
{% load static %}
<html> 
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'additional_styles.css' %}">
        <link rel="stylesheet" href="{% static 'additional_styles2.css' %}">
        <title> QUIZ MODE </title>
    </head>
    <body>
        <div class="home_div">
            <div> 
                <h1> GAME FINISH </h1>
                <h2> Percent Accuracy: {{ percent_correct }}% </h2>
                <h2> Amount Correct: {{ number_correct }} </h2>
                <h2> Amount Incorrect: {{ number_incorrect}} </h2>
                <h2> Hints {{ were_hints_on }} on. </h2>
                <div style="display: flex; flex-flow: row wrap; border: solid black 4px; margin: 4px;">
                    {% for question_result in question_results %}
                        <div style="margin: 20px; padding: 20px; border: solid black 4px; margin: 4px;">
                        <p> {{ question_result.result }} </p>
                        <img src="{% static question_result.flag_url %}" style="border: solid black 4px" alt="Flag" class="flag-image">  
                        <p> Correct Answer: {{ question_result.correct_answer }} </p>
                        <p> You guessed: {{ question_result.guess }} </p>
                        </div>
                    {% endfor %}
                </div>
                    
                <a href="/"> Back Home </a>
            </div>
        </div>
    </body>
</html>